* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

nav {
  background: #f5f5f5;
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav a:hover {
  color: #ff7a00;
}
.introducao {
  padding: 50px;
  text-align: center;
  background: #fff7f0;
}

.introducao h2 {
  margin-bottom: 20px;
  color: #ff7a00;
}

.introducao p {
  max-width: 600px;
  margin: 10px auto;
  line-height: 1.6;
  color: #444;
}

.busca {
  position: relative;
  width: 350px;
  margin: 20px auto;
}

.busca input {
  width: 100%;
  padding: 12px 12px 12px 40px;
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
}

.lupa {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  pointer-events: none;
}

/* PRODUTOS */

h2 {
  margin: 30px;
  text-align: center;
  text-transform: uppercase;
}

.lista-produtos {
  max-width: 1000px;
  margin: auto;
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

/* CARD */

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  background: #fff;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

/* IMAGEM */

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* PREÇO */

.card p {
  font-weight: bold;
  margin: 10px 0;
}

/* BOTÃO */

button {
  background: #ff7a00;
  border: none;
  padding: 10px 15px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #e96b00;
}
